body{
  display: flex;
  flex-direction: column;
  background-color: #1d1e1f;
  text-align: center;
  margin: auto;
  margin-top: 23vh;
  width: 40vw;
  vertical-align: middle;
  box-shadow: 10px 10px 10px 3px ;
  line-height: 1.5;
}

h1, p{
  font-family: "Poppins";
  color: white;
  margin-right: 2vw;
  margin-left: 2vw;
}

p{
  font-size: 1.5vw;
  margin-bottom: -0.5vw;
}

h1{
  font-size: 3vw;
  margin-bottom: -0.5vw;
}

#left-align-text{
  margin-left: 25vw;
  margin-bottom: 2vw;
}

